@{
    ViewData["Title"] = "Home Page";
}
<form method="post" enctype="multipart/form-data" asp-controller="Files" asp-action="Upload">
    <input type="file" name="files" multiple/>
    <button type="submit" value="Upload">Upload</button>
</form>
